/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
    font-size: 24px;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.card {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.card:hover {
    background-color: #0056b3;
}

/* Título do Glossário */
h2 {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

/* Estilo do glossário */
.glossary-content {
    margin: 20px auto;
    max-width: 80%;
    text-align: left;
}

.term {
    background-color: #f9f9f9;
    border-left: 4px solid #007bff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.term strong {
    font-weight: bold;
    color: #333;
}

/* Botão de voltar */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: 300px;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
        padding: 15px;
    }
    
    .card {
        width: 100%;
        font-size: 16px;
        height: auto;
        padding: 20px;
    }
}
